<%!
    import  os
    def urllike(name):
        out=''
        for a in name:
            out+=hex(ord(a))[2:]
        return out
    def origin(name):
        out=''
        try:
            for now in range(0,len(name),2):
                out+=chr(int(name[now:now+2],16))
        except:
            pass
        else:
            return out
%>

<html>
<head lang="zh">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>Shile</title>
    <script>
        function urllike(name) {
            var out=''
            for(var now=0;now<name.length;now++)
                out+=name.charCodeAt(now).toString(16)
            return out
        }
        function cmdcallback(e,func) {
            var keynum
            if(window.event) keynum=e.keyCode //IE
            else keynum=e.which
            if(keynum==13) //enter
                func()
            return true
        }
        function cmd() {
            cmdtext=document.getElementById('cmd-text').value
            document.getElementById('cmd-result').src='/cmd/'+urllike(cmdtext)
            document.getElementById('cmd-text').value=''
        }
        function redirect() {
            window.location.assign('/view/'+urllike(document.getElementById('new_pathname').value))
        }
        function prev(name) {
                window.open('/prev/${urllikes+"2f"}'+urllike(name))
        }
        function del(name) {
            if(confirm('确定删除 '+name+' 吗？'))
                window.location.assign('/delete/${urllikes+"2f"}'+urllike(name))
        }
        function ren(name) {
            newname=prompt('为 '+name+' 输入新的文件名：')
            if(newname!=''&&newname!=null)
                window.location.assign('/rename/${urllikes}/'+urllike(name)+'/'+urllike(newname))
        }
        function newfolder() {
            n=prompt('新目录名：')
            if(n!=''&&n!=null)
                window.location.assign('/newfolder/${urllikes}/'+urllike(n))
        }
    </script>
</head>
<body><div class="container">
    <div class="navbar navbar-default" role="navigation">
        <a class="navbar-brand hidden-xs" href="/">
            <span class="glyphicon glyphicon-hdd"></span>
            &nbsp;Shile
        </a>
        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#cmd-modal">提示符</button>
        <button type="button" class="btn btn-default navbar-btn" onclick="window.location.assign('/logout')">注销</button>
        <div class="navbar-form navbar-right" style="margin-right: 0px">
            <div class="form-group">
                <input id="new_pathname" type="text" value="${origins}" class="form-control" autocomplete="on" onkeypress="cmdcallback(event,redirect)" style="width: 400px" placeholder="目录名">
            </div>
            <button type="button" onclick="redirect()" class="btn btn-primary">进入</button>
        </div>
    </div>
    <div class="page-header"><h3>
        <ol class="breadcrumb">
            <%
                paths=origins.split('/')
                for a in range(len(paths)):
                    paths[a]=urllike(paths[a])+'2f'
            %>
            % for l in range(len(paths)):
                <li><a href="/view/${''.join(paths[:l+1])}">
                    ${origin(paths[l][:-2])}
                </a></li>
            % endfor
        </ol>
    </h3></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="">文件名</th>
                <th style="text-align: right">大小</th>
                <th style="text-align: right">操作</th>
            </tr>
        </thead>
        <tbody>
            % for f in files:
                <tr>
                    <td><a href="/view/${urllikes+'2f'+urllike(f)}">
                         % if os.path.isdir(origins+'/'+f):
                            <span class="glyphicon glyphicon-folder-open"></span>
                        % else:
                            <span class="glyphicon glyphicon-file"></span>
                        % endif
                        &nbsp;${f}
                    </a></td>
                    <td style="text-align: right">
                        % if os.path.isdir(origins+'/'+f):
                            目录
                        % else:
                            <%
                                s=os.path.getsize(origins+'/'+f)
                            %>
                            ${s//1000000}M&nbsp;
                            ${s//1000%1000}K&nbsp;
                            ${s%1000}B
                        % endif
                    </td>
                    <td style="text-align: right">
                        % if os.path.isfile(origins+'/'+f):
                            <button class="btn-link" onclick="prev('${f}')">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        % endif
                        <button class="btn-link" onclick="del('${f}')">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button class="btn-link" onclick="ren('${f}')">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                </tr>
            % endfor
        </tbody>
    </table>
    % if len(files)==0:
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-inbox"></span>
            &nbsp;这个目录里什么都没有
        </div>
    % endif
    <br />
    <div class="btn-group btn-group-justified">
        <button class="btn btn-success" onclick="newfolder()" style="width:25%" role="button">
            <span class="glyphicon glyphicon-folder-open"></span>
            &nbsp;新建目录
        </button>
        <button class="btn btn-success" data-toggle="modal" data-target="#newfile-modal" style="width:25%" role="button">
            <span class="glyphicon glyphicon-pencil"></span>
            &nbsp;新建文件
        </button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#upload-modal" style="width: 50%;" role="button">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            &nbsp;上传文件
        </button>
    </div>
    <br />
    <!-- modals -->
    <!-- upload file -->
    <div class="modal fade" id="upload-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">上传文件</h4>
                </div>
                <div class="modal-body">
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-paperclip"></span></span>
                            <input type="hidden" name="path" value="${urllikes}">
                            <input type="file" name="upfile" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">上传</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- remote cmd -->
    <div class="modal fade" id="cmd-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">远程提示符</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></span>
                        <input type="text" id="cmd-text" class="form-control" onkeypress="cmdcallback(event,cmd)">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" onclick="cmd()" type="button">执行</button>
                        </span>
                    </div>
                    <iframe id="cmd-result" style="width: 100%;height: 350px" frameborder="0"
                             src="/cmd/${urllike('echo Welcome to Shile')}"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- new file -->
    <div class="modal fade" id="newfile-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">新建文件</h4>
                </div>
                <div class="modal-body">
                    <form action="/newfile" method="post">
                        <input type="hidden" name="path" value="${urllikes}">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-file"></span></span>
                            <input type="text" name="filename" class="form-control" placeholder="文件名">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">保存</button>
                            </span>
                        </div>
                        <br />
                        <textarea name="text" style="width: 100%; height:300px;"></textarea>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->
</div></body>
</html>