<!DOCTYPE html>
<%!
    import  os
    import mimetypes
    def origin(name):
        out=''
        for now in name.split('_'):
            out+=chr(int(now,16))
        return out
    def urllike(name):
        out=''
        for a in name.replace('\\','/'):
            out+=(hex(ord(a))[2:]+'_')
        return out[:-1]
%>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="http://libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://libs.useso.com/js/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>${origins|h} - Shile</title>
    <script>
        function urllike(name) {
            var out='';
            for(var now=0;now<name.length;now++)
                out+=(name.charCodeAt(now).toString(16)+'_');
            return out.slice(0,-1);
        }
        function cmdcallback(e,func) {
            var keynum;
            if(window.event) keynum=e.keyCode; //IE
            else keynum=e.which;
            if(keynum==13) //enter
                func();
            return true;
        }
        function redirect() {
            window.location.assign('/view/'+urllike(document.getElementById('new_pathname').value));
        }
        function down(name) {
                window.open('/down/${urllikes+"_2f_"}'+urllike(name)+'/'+name);
        }
        function del(name) {
            if(confirm('确定删除 '+name+' 吗？'))
                window.location.assign('/delete/${urllikes+"_2f_"}'+urllike(name));
        }
        function ren(name) {
            newname=prompt('为 '+name+' 输入新的文件名：');
            if(newname!=''&&newname!=null)
                window.location.assign('/rename/${urllikes}/'+urllike(name)+'/'+urllike(newname));
        }
        function move(name) {
            newpath=prompt('将 '+name+' 移动到：');
            if(newpath!=''&&newpath!=null) {
                window.location.assign('/move/${urllikes}/'+urllike(name)+'/'+urllike(newpath));
            }
        }
        function newfolder() {
            n=prompt('新目录名：');
            if(n!=''&&n!=null)
                window.location.assign('/newfolder/${urllikes}/'+urllike(n));
        }
        function upload() {
            var file=document.getElementById('upfile').files[0];
            window.uploadbtn=document.getElementById('uploadbtn');
            try {FormData;}
            catch(_) { //fuck IE
                document.getElementsByName('upfilename')[0].value=file.name;
                uploadbtn.innerText='手动上传中……';
                uploadbtn.setAttribute('disabled','disabled');
                document.getElementById('iesubmit').click();
                return;
            }
            function progress_callback(event) {
                var percent = Math.round(event.loaded*100/event.total);
                uploadbtn.innerText='上传 '+percent.toString()+'%';
            }
            function complete_callback(event) {
                uploadbtn.innerText='上传完毕';
                if(event.target.responseText==="OK")
                    window.location.reload(true);
                else
                    document.write(event.target.responseText);
            }
            function failed_callback() {
                uploadbtn.removeAttribute('disabled');
                uploadbtn.innerText='上传失败';
            }
            function cancel_callback() {
                uploadbtn.removeAttribute('disabled');
                uploadbtn.innerText='上传取消';
            }
            var xhr=new XMLHttpRequest();
            var fd=new FormData();
            if(file.size>100*1024*1024) {
                alert('文件不得超过100M');
                return;
            }
            fd.append("path",document.getElementsByName('path')[0].value);
            fd.append("upfile",file);
            fd.append("xhr","yes");
            fd.append("upfilename",file.name);
            xhr.upload.addEventListener("progress",progress_callback,false);
            xhr.addEventListener("load",complete_callback,false);
            xhr.addEventListener("error",failed_callback,false);
            xhr.addEventListener("abort",cancel_callback,false);
            xhr.open("POST", "/upload");
            uploadbtn.setAttribute('disabled','disabled');
            xhr.send(fd);
        }
    </script>
</head>
<body><div class="container">
    <div class="navbar navbar-default" role="navigation">
        <span>
            <a href="#" class="navbar-brand dropdown-toggle" id="locations-dropdown" data-toggle="dropdown">
                <span class="glyphicon glyphicon-hdd"></span>&nbsp;Shile
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="location-dropdown">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/">您的主页</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/view/${urllike(serverpath)|h}">Shile目录</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/view/${urllike(serverpath+'/public')|h}">公用目录</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/view/2f">整个磁盘</a>
                </li>
            </ul>
        </span>
        &nbsp;
        <button type="button" class="btn btn-default navbar-btn" onclick="window.location.assign('/logout')">
            注销
        </button>
        <div class="navbar-form navbar-right" style="margin-right: 0px">
            <div class="form-group">
                <input id="new_pathname" type="text" value="${origins}" class="form-control" autocomplete="on" onkeypress="cmdcallback(event,redirect)" style="width: 300px" placeholder="目录名">
            </div>
            <button type="button" onclick="redirect()" class="btn btn-primary">进入</button>
        </div>
    </div>
    <div class="page-header"><h3>
        <ol class="breadcrumb">
            % if (origins+'/')[0]=='/':
                <li><a href="/view/2f">
                    <span class="glyphicon glyphicon-hdd"></span>
                </a></li>&nbsp;
            % endif
            <%
                paths=[a+'/' for a in origins.split('/')]
            %>
            % for l in range(len(paths)):
                % if paths[l]!='/':
                    <li>
                        <a href="/view/${urllike(''.join(paths[:l+1]))|h}">${paths[l][:-1]|h}</a>
                    </li>
                % endif
            % endfor
        </ol>
    </h3></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>文件名</th>
                <th style="text-align: right">类型</th>
                <th style="text-align: right">大小</th>
                <th style="text-align: right">操作</th>
            </tr>
        </thead>
        <tbody>
            % for f in files:
                <tr>
                    <td><a href="/view/${urllikes+'_2f_'+urllike(f)}">
                         % if os.path.isdir(origins+'/'+f):
                            <span class="glyphicon glyphicon-folder-open" title="目录"></span>
                        % else:
                            <span class="glyphicon glyphicon-file" style="color: #474" title="文件"></span>
                        % endif
                        &nbsp;${f|h}
                    </a></td>
                    <td style="text-align: right">
                        % if os.path.isfile(origins+'/'+f):
                            <% mime=mimetypes.guess_type(f)[0] %>
                            ${(mime if mime else 'Unknown')|h}
                        % else:
                            目录
                        % endif
                    </td>
                    <td style="text-align: right">
                        % if os.path.isfile(origins+'/'+f):
                            <% s=os.path.getsize(origins+'/'+f) %>
                            ${s//1000000}M&nbsp;
                            ${s//1000%1000}K&nbsp;
                            ${s%1000}B
                        % else:
                            <%
                                subs=0
                                for a in os.walk(origins+'/'+f):
                                    subs+=len(a[2])
                                    if subs>100:
                                        subs='99+'
                                        break
                            %>
                            <b>${subs}</b>&nbsp;项
                        % endif
                    </td>
                    <td style="text-align: right">
                        % if os.path.isfile(origins+'/'+f):
                            <a href="#" onclick="down('${f}')">
                                <span class="glyphicon glyphicon-save" title="下载"></span>
                            </a>&nbsp;
                            <a href="/compose/${urllikes+'_2f_'+urllike(f)}" target="_blank">
                                <span class="glyphicon glyphicon-edit" title="修改"></span>
                            </a>&nbsp;
                        % endif
                        <a href="#" onclick="move('${f}')">
                            <span class="glyphicon glyphicon-move" title="移动"></span>
                        </a>&nbsp;
                        <a href="#" onclick="del('${f}')">
                            <span class="glyphicon glyphicon-trash"title="删除"></span>
                        </a>&nbsp;
                        <a href="#" onclick="ren('${f}')">
                            <span class="glyphicon glyphicon-pencil" title="重名"></span>
                        </a>
                    </td>
                </tr>
            % endfor
        </tbody>
    </table>
    % if len(files)==0:
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-inbox"></span>
            &nbsp;这个目录里什么都没有
        </div>
    % endif
    <br />
    <div class="btn-group btn-group-justified">
        <button class="btn btn-success" onclick="newfolder()" style="width:25%" role="button">
            <span class="glyphicon glyphicon-folder-open"></span>
            &nbsp;新建目录
        </button>
        <button class="btn btn-success" data-toggle="modal" data-target="#newfile-modal" style="width:25%" role="button">
            <span class="glyphicon glyphicon-pencil"></span>
            &nbsp;新建文件
        </button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#upload-modal" style="width: 50%;" role="button">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            &nbsp;上传文件
        </button>
    </div>
    <br />
    <!-- modals -->
    <!-- upload file -->
    <div class="modal fade" id="upload-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">上传文件</h4>
                </div>
                <div class="modal-body">
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-paperclip"></span></span>
                            <input type="hidden" name="path" value="${urllikes}">
                            <input type="file" name="upfile" id="upfile" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" id="uploadbtn" type="button" onclick="upload()">上传</button>
                            </span>
                        </div>
                        <input type="hidden" name="upfilename" value="">
                        <button id="iesubmit" style="display: none" type="submit">手动上传</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- new file -->
    <div class="modal fade" id="newfile-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">新建文件</h4>
                </div>
                <div class="modal-body">
                    <form action="/newfile" method="post">
                        <input type="hidden" name="path" value="${urllikes}">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-file"></span></span>
                            <input type="text" name="filename" class="form-control" placeholder="文件名">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" tabindex="-1" type="submit">保存</button>
                            </span>
                        </div>
                        <br />
                        <textarea name="text" class="form-control" style="width: 100%; height:300px;"></textarea>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->
    <div style="display: none; height: 0; width: 0;">
    <script src="http://s95.cnzz.com/stat.php?id=1254416767&web_id=1254416767"></script>
    </div>
</div></body>
</html>
