<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="http://libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://libs.useso.com/js/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>登录 - Shile</title>
</head>
<body style="background-color: #DDD"><div class="container">
    <br /><br /><br />
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="panel panel-default" style="padding: 0px !important;">
            <div class="panel-heading">
                <small class="pull-right"><a href="/signup">注册</a></small>
                <h3 class="panel-title">
                    <b>Shile</b>
                    % if deadline!=10:
                        &nbsp;<div class="label label-warning">${10-deadline} 次密码输入错误</div>
                    % endif
                </h3>
            </div>
            <div class="panel-body">
                <form action="/login" method="post">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input autofocus="autofocus" type="password" name="username" placeholder="用户名" class="form-control">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-tree-conifer"></span></span>
                        <input type="password" name="password" placeholder="密码" class="form-control">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="form-control" disabled="disabled">
                            我不乱搞此服务器，也不为他人或程序乱搞提供便利。
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok"></span></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <br /><br />
        <div style="margin-left: 10px; margin-right: 10px;">
            <a href="http://github.com/xmcp" target="_blank">by xmcp</a>
            &nbsp;
            <script>var cnzz_protocol="http://";document.write(unescape("%3Cspan id='cnzz_stat_icon_1254416767'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1254416767%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            &nbsp;
            <small class="pull-right">
                最近活动时间：${last}
            </small>
        </div>
    </div>
</div></body>
</html>
